<h1>Welcome to Clubcar!</h1>

<h2 id="presence">Your Presence</h2>

<%= render :partial => '/users/presence', :object => @user %>

<h2 id="moods">Your Moods</h2>

<%= render :partial => '/moods/list', :object => @user.moods %>

<div id="graphs">
  <%= image_tag graph_url(:action => 'genres', :id => 0) %>
</div>
