<h1>Welcome to Clubcar!</h1>

<h2 id="presence">Your Presence</h2>

<%= render :partial => '/users/presence', :object => @user %>

<h2 id="moods">Your Moods</h2>

<%= render :partial => '/moods/list', :object => @user.moods %>

<%= render :partial => '/graphs/genres', :object => params %>

