<h1>New mood</h1>

<%= error_messages_for :mood %>

<% tagged_form_for(:mood, :url => user_moods_path) do |f| %> 
    <%= f.text_field :name %>
    <%= f.text_field :order %>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', user_moods_path %>