<p>
  <b>User:</b>
  <%=h @mood.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @mood.name %>
</p>

<p>
  <b>Sort order:</b>
  <%=h @mood.sort_order %>
</p>


<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Back', moods_path %>