<h1>Mood</h1>

<p>
  <b>Name:</b>
  <%=h @mood.name %>
</p>

<p>
  <b>Sort order:</b>
  <%=h @mood.order %>
</p>

<%= link_to 'Edit', edit_user_mood_path(@user, @mood) %> |
<%= link_to 'Back', user_moods_path %>

<h2><%= link_to 'Preferences', user_mood_preferences_path(@user, @mood) %></h2>

<%= render :partial => '/preferences/list', :object => @mood.preferences.sort {|a,b| a.restaurant.name.casecmp(b.restaurant.name) } %>

