<p>
  <b>Name:</b>
  <%=h @mood.name %>
</p>

<p>
  <b>Sort order:</b>
  <%=h @mood.order %>
</p>


<%= link_to 'Edit', edit_mood_path(@user, @mood) %> |
<%= link_to 'Back', moods_path %> |
<%= link_to 'Preferences', preferences_path(@user, @mood) %>
