<h1>Listing visits to <%= @restaurant.name %></h1>

<%= render :partial => 'list', :object => @visits %>

<br />

<%= link_to 'Back', restaurant_path(@restaurant) %> |
<%= link_to 'New visit', new_visit_path %>
