- clarify_title "s to #{@restaurant.name}"
%h1 Listing visits to = @restaurant.name

= render :partial => 'list', :object => @visits

%br 

= link_to 'Back', restaurant_path(@restaurant) 
|
= link_to 'New visit', new_restaurant_visit_path(@restaurant)
