<% clarify_title " to #{@restaurant.name}" %>
<h1>New visit for <%= @restaurant.name %></h1>

<%= error_messages_for :visit %>

<% tagged_form_for(:visit, :url => restaurant_visits_path(@restaurant)) do |f| %>
    <%= f.date_select :date %>
    <%= f.text_field :duration %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', restaurant_visits_path(@restaurant) %>