<% unless restaurant.tags.empty? %>
  <h2>Tags</h2>
  <ul id="restaurantTags">
    <%= render :partial => '/labels/tags', :collection => restaurant.tags %>
  </ul>
<% end %>
<% unless restaurant.genres.empty? %>
  <h2>Genres</h2>
  <ul id="restaurantGenres">
    <%= render :partial => '/labels/tags', :collection => restaurant.genres %>
  </ul>
<% end %>
