%h1 
  Labels for
  = @restaurant.name

-form_tag :action => :save do
  -unless @tags.empty?
    %h2#tagsHeader Tags      
    %ul#tags 
      -for label in @tags
        %li= link_to '[-]', restaurant_label_path(label), :confirm => 'delete?', :method => :delete-= label.tag.name            
  -unless @genres.empty?
    %h2#genresHeader Genres      
    %ul#genres 
      -for label in @genres
        %li= link_to '[-]', restaurant_label_path(label), :confirm => 'delete?', :method => :delete-= label.tag.name            
  = submit_tag
