<h1>Editing label</h1>

<%= error_messages_for :label %>

<% form_for(:label, :url => label_path(@label), :html => { :method => :put }) do |f| %>
  <p>
    <b>Restaurant</b><br />
    <%= f.text_field :restaurant_id %>
  </p>

  <p>
    <b>Tag</b><br />
    <%= f.text_field :tag_id %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', label_path(@label) %> |
<%= link_to 'Back', labels_path %>