<h1>New label for <%= @restaurant.name %></h1>

<%= error_messages_for :label %>

<% tagged_form_for(:label, :url => labels_path) do |f| %>
    <%= f.text_field :restaurant_id %>
    <%= f.text_field :tag_id %>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', labels_path %>