
tr.rowB {
  background-color: #ccc;
}

.floatImg {
  float: right;
  width: 40%;
  padding: 5px;
  text-align: right;
}

/* .floatImg img { */
/*   max-width: 40%;  */
/* } */

table#preferences td {
  line-height: 35px;
}