.customCheckbox, .customRadio {
  /* this doesn't work with an inline display */
  /* height: 40px; */
  margin: 0 0 3px;
  padding: 0 0 0 30px;
  background: url("checkbox.gif") no-repeat 0 0;
  cursor: default;
  display: inline;
  font-size: 20px;
}

.customCheckbox input, .customRadio input {
  display: none;
}

.customRadio {
  background: url("radio.gif") no-repeat 0 0;
}

.selected {
  background-position: 0 -52px;
}

.block {
  width: 50%;
  float: left;
}

label {
  /*color: #fff;*/
  font: 1.2em/21px arial,sans-serif;
  display: inline;
}

.customCheckbox input.show, .customRadio input.show {
  display: inline;
}
