.missing, .missing select, .missing a {
  color: #f00;
}

.missing.rowB {
  background-color: #fcc;
}

.customRadio.votePositive {
  background-image: url(../images/vote_positive.png)
}

.customRadio.voteNeutral {
  background-image: url(../images/vote_neutral.png)
}

.customRadio.voteNegative {
  background-image: url(../images/vote_negative.png)
}

.customRadio.voteVeto {
  background-image: url(../images/vote_veto.png)
}

div.customRadio label {
  display: none;
}
