#login h1 { display: none; }

div.formBackground {
  background-image: url(../images/train.png);
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

div.loginForm { 
  position: relative;
  top: 30%;
  background-image: url(../images/translucent.png);
}

div.loginForm fieldset {
  width: 400px;
}

#login label {
  font-weight: bold;
}