-unless session[:user].nil?
  -if session[:user].id == presence_link.id
    -prefix = 'You'
    -verb = 'are'
  -else
    -prefix = "User #{presence_link.name}"
    -verb = 'is'

  -present = presence_link.present?
  -current = present ? "" : " <em>not</em>"
  -action =  ( present ? "de" : "") + "activate"

  currently: 
  =prefix
  %strong
    = link_to_remote "#{verb}#{current}", {:url => {:controller => :users, :action => action, :id => presence_link.id}}, {:title => 'toggle', :class => 'presenceLink'}
  coming to lunch
- else
  Saving you from yourself since 2007