<h1>Editing user</h1>

<%= error_messages_for :user %>

<% tagged_form_for(:user, :url => user_path(@user), :html => { :method => :put }) do |f| %>
    <%= f.text_field :login %>
    <%= f.text_field :name %>
    <%= f.password_field :plain_password %>
    <%= f.password_field :plain_password_confirmation %>
    <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Show', user_path(@user) %> |
<%= link_to 'Back', users_path %>