= render :partial => 'for_head'
%h1 Login

.formBackground 
  .loginForm 
    %fieldset 
      %legend Please Log In
      - form_tag do
        %table 
          %tbody 
            %tr 
              %td 
                %label{ :for => 'login' } Login:
              %td 
                = text_field_tag :login, params[:login]
            %tr 
              %td 
                %label{ :for => 'plain_password' } Password:
              %td 
                = password_field_tag :plain_password, params[:plain_password]
            %tr 
              %td{ :colspan => '2' } 
                = submit_tag "Login"
#footer 
  %span#clubcar Clubcar
  %span#tagline Saving you from yourself since 2007
