@import globals.sass

html,
body
  :margin 0
  :padding 0

tr.rowB
  :background-color= #fff - !rowB_diff


.floatImg
  :float right
  :width 40%
  :padding 5px
  :text-align right

#moodList
  table
    :border-collapse collapse
    
  th,td
    :margin 0
    :padding 2px 5px
    
    &.img
      :text-align center
      
  .active
    :color= !active_fg
    :background-color= !active_bg
    
    &.rowB
      :background-color= !active_bg - !rowB_diff
      
    a
      :color= !active_fg
    
  .newLink
    :margin-bottom 0.5em
    :padding 2px 5px

table#preferences td
  :line-height 35px


.notice
  :color green

#header
  :color= !header_fg
  :background
    :color= !header_bg
    :image= !header_img
    :repeat no-repeat
  :text
    :align right
  :min-height 30px
  
  p
    :margin 0
  #presenceLink
    :margin-right 0.5em
    
img
  :border 0