Dear Lunchers:

Today's recommendations for lunch are:

<%
  @choices.each do |c|
    r = c['restaurant']
  -%>
<%= sprintf('%-25.25s | %-30.30s | %s', r.name, r.address, r.city) %>
<% end -%>

Thank you.

The Clubcar management
