Your email update failed for the following reasons:
<% @errors.each do |e| -%>
    * <%= e %>
<% end -%>

You'll have to make the changes by visiting
<% # Hardcode this for now -%>
http://eogan.usr.cloudshield.com:3000/

Our appologies.

Clubcar
