<p>
  <b>Mood:</b>
  <%=h @preference.mood.name %>
</p>

<p>
  <b>Restaurant:</b>
  <%=h @preference.restaurant.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @preference.vote.name %>
</p>


<%= link_to 'Edit', edit_preference_path(@user, @mood, @preference) %> |
<%= link_to 'Back', preferences_path %>