<% clarify_title "s for #{@preference.restauarant.name} in #{@user.name}'s #{@mood.name} mood" %>
<%= render :partial => :for_head %>
<h1>Preference</h1>

<p>
  <b>Mood:</b>
  <%=h @preference.mood.name %>
</p>

<p>
  <b>Restaurant:</b>
  <%=h @preference.restaurant.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @preference.vote.name %>
</p>


<%= link_to 'Edit', edit_user_mood_preference_path(@user, @mood, @preference) %> |
<%= link_to 'Back', user_mood_preferences_path %>