<h1>Editing tag</h1>

<%= error_messages_for :tag %>

<% tagged_form_for(:tag, :url => tag_path(@tag), :html => { :method => :put }) do |f| %>
    <%= f.text_field :name %>
    <% ### MAKE THIS USE A SELECT BOX! ### %>
    <%= f.text_field :type_id %>
    <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Show', tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>