<h1>New tag</h1>

<%= error_messages_for :tag %>

<% tagged_form_for(:tag, :url => tags_path) do |f| %>
    <%= f.text_field :name %>
    <% ### MAKE THIS USE A SELECT BOX! ### %>
    <%= f.text_field :type_id %>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', tags_path %>