<h1>Editing email</h1>

<%= error_messages_for :email %>

<% tagged_form_for(:email, :url => user_email_path(@user, @email), :html => { :method => :put }) do |f| %>
  <%= f.text_field :address %>
  <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Show', user_email_path(@user, @email) %> |
<%= link_to 'Back', user_emails_path %>