%h1 New email

= error_messages_for :email

-tagged_form_for(:email, :url => user_email_path(@user, @email), :html => { :method => :put }) do |f| 
  = f.text_field :address
  = submit_tag "Create"

= link_to 'Back', user_emails_path(@user)
