<h1>Listing tag_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  
<% for tag_type in @tag_types %>
  <tr>
    <td><%=h tag_type.name %></td>
    <td><%= link_to 'Show', tag_type_path(tag_type) %></td>
    <td><%= link_to 'Edit', edit_tag_type_path(tag_type) %></td>
    <td><%= link_to 'Destroy', tag_type_path(tag_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag_type', new_tag_type_path %>