<h1>New tag_type</h1>

<%= error_messages_for :tag_type %>

<% tagged_form_for(:tag_type, :url => tag_types_path) do |f| %>
    <%= f.text_field :name %>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', tag_types_path %>