<h1>New tag_type</h1>

<%= error_messages_for :tag_type %>

<% form_for(:tag_type, :url => tag_types_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tag_types_path %>